---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Alexandra's Blog">
    <header>
    <h1>Hi, I am Alexandra!</h1>
     </header>
  <main>
    <img class="pics" src = "assets/head-shot.png" alt="A picture of me the author of the"
width= "300 px"
height= "auto"
    />
      <p> I am 16 years old and a junior in high school! I am interested in pursuing a career in biomedical engineering. Some of my interests are coding, reading, baking, play soccer, and stargazing. I have decided to create this blog to share highlights of my life with others and get into the practice of gratitude. I hope you like what I have to say!</p>
  </main>  
</Layout>
