---
import Layout from '../layouts/Layout.astro';
---
<Layout title= "Welcome to my Blog Page">
    <header>
    <h1>Hey, this is my blog page!</h1>
     </header>

  <main>
   <h2>
    February 9, 2024
  </h2>
    <img class="pics" src = "assets/queens-mall.png" 
width= "600px"
height= "auto"
    />
      <p> Today me and my friends went to the Queens Mall! My friend Joanna, who is all the way to the right of the pic, is from Queens and wanted to show us one of her favorite hang out spots. From left to right is Sam, me, Violet, and Joanna. At the mall we did some shopping, got rolled ice cream, and ate some Cinnabon. It was a super rememberable day, and I can not wait to go back!</p>
  </main>
  
  <main>
    <h2>
      February 18, 2024
    </h2>
      <img class="pics" src = "assets/rafael-and-me.png" 
        width = "auto"
        height = "600px"
        />
    <p> I went to quickly visit my nephew in Seattle this weekend! He is looking super adorable. I love spending time with my sister and nephew. He is growing up so fast. I cannot believe how big he is since I last saw him in December! Also, I bought him the sweater he is wearing. He looks so cute in it!</p>
  </main>  
 
  <main>
  <h2>
    March 14. 2024
  </h2>
    <img class="pics" src = "assets/sam-joanna.png" 
      width = "auto"
      height = "600px"
      />
  <p> I had my math midterm this morning and fortunately it got interrupted by a lockdown drill! The lockdown drill was lowkey real but like not really. Apparently there was a bomb threat, but someone apparently just said that so their test could be interrupted. It is all kind of dumb. However, this is a picture of my friends Sam and Joanna celebrating the interruption of our midterm, LOL!</p>
</main>  

<main>
  <h2>
March 17, 2024  </h2>
    <img class="pics" src = "assets/china-1.png" 
      width = "auto"
      height = "600px"
      />
  <p>I have just arrived to my spring break destination: China!! I am beyond excited to be here. I have been studying Mandarin since 6th grade, and it has been my dream to go here. I am currently in Shanghai, and I am exhausted after my 20 hour flight. I will make sure to continually update this blog though! </p>
</main>  

<main>
  <h2>
March 18, 2024  </h2>
    <img class="pics" src = "assets/china-2.png" 
      width = "auto"
      height = "600px"
      />
  <p>It is my second day in China, and I am having so much fun! We started our day with some breakfast at the hotel, and I was so shocked by the different breakfast style in China. It was so delicious though! Then, we went to take a tour of Shanghai, and it is so beautiful here. After, we went to make our lunch: soup dumplings! They were so fun to make, and they came out so delicious. I also had these amazing Shanghai-style noodles! We also went to a night market, which so really cool. I ended up buying a few trinkets and souvenirs. I am now ready to go to bed after an a super eventful day! </p> 
</main> 

<main>
  <h2>
March 20, 2024  </h2>
    <img class="pics" src = "assets/china-3.png" 
      width = "auto"
      height = "600px"
      />
  <p> I am now in Hangzhou! Sorry for not updating the China blog for a while. I am staying with a host family here, and they such sweet people. I am loving my experience here. Yesterday, I went to some classes with the girl who is in my host family, and then we went to buy some snacks after school, and then went back to her house. At her house a took a small nap, and I ate some homemade noodle her grandma cooked. They were incredible. Then, we went to the mall together, and I bought more stuff. I need to stop! Today, we went on a field day with her school. It is so pretty here. The flower fields are so aesthetic, and the weather is great! I wonder what the rest of the day has in store for me!    </p> 
</main>

<main>
  <h2>
March 21, 2024  </h2>
    <img class="pics" src = "assets/calligraphy.png" 
      width = "auto"
      height = "600px"
      />
  <p> Today we went to classes with our host families and did fun activities with them at school. We made pork dumplings together, we we did a woodworking class and made scissors together, and we did Chinese calligraphy together. After doing all these cool activities, we all went to a tea museum together. I love tea so getting to learn more about it was so interesting. Then we went to go get dinner. My favorite meal at dinner was the fried rice. It was super flavorful. Then, we went back home with our host families, and I took a bed and immediately passed out. 
</p> 
</main>

<main>
  <h2>
March 23, 2024  </h2>
    <img class="pics" src = "assets/emperor.png" 
      width = "auto"
      height = "600px"
      />
  <p> Yesterday we said goodbye to our host families and went to Xi’an. I am not feeling too great to be honest. I think something I ate might have made me feel a bit sick. However, I still pushed through for our day in Xi’an. We went to the Mausoleum of the First Qin Emperor and we also took a tour of Xi’an. For lunch, we got some traditional Xi’an food which were pretty tasty. We also went to a Chinese dance show, and I loved seeing the beautiful dances they were so calming. Tomorrow we are doing a bike ride on the Xi’an Ancient Wall which seems fun! 
</p>
</main>

<main>
  <h2>
March 25, 2024  </h2>
    <img class="pics" src = "assets/wall.png" 
      width = "auto"
      height = "600px"
      />
  <p> Yesterday we left to Beijing our last destination on this trip! Today I’m Beijing the first spot we hit up was the Great Wall!! It was really exciting to see it. I have been wanting to visit the Great Wall forever, so it was a surreal experience. It was incredibly foggy though so you couldn’t see it super well, but I’m just happy I was there. Then, we went to the Summer Palace. We ended our day with some free time to go shopping. 
 </p>
</main>

<main>
  <h2>
March 27, 2024  </h2>
    <img class="pics" src = "assets/temple.png" 
      width = "auto"
      height = "600px"
      />
  <p> On our last full day in China we went to the Temple Heaven, and we got to see a cricket show which I loved. You are probably thinking, “cricket like the sport?” But no, cricket like the animal. I was really confused when I found out too. Anyways, it was so much fun we! We went to the house of a professional cricket fighter, and first of all, his wife made delicious food for us. Second of all, he thought us how to cricket fight. It was a funny experience. Everyone held the cricket, and Sam and Maria even got it on their heads. I have loved China so far, and I am a bit sad to go back, but I hope to come back one day.
 </p>
</main>

<main>
  <h2>
April 6, 2024  </h2>
    <img class="pics" src = "assets/olivia.png" 
      width = "auto"
      height = "600px"
      />
  <p> Today I got the chance to see one of my top artists of all time, OLIVIA RODRIGO!! I love her so much, and I got to go to her guts tour concert today at Madison Square Garden. I was beyond excited to see her perform. She has been like in my top 3 Spotify artists every year, so seeing her in person meant a lot to me. She sang so many good songs. Some of favorites that she sang were brutal, obsessed, logical, and pretty isn’t pretty. I love all her songs though. My seats were also pretty good which was amazing. I want to see her again! I already miss the experience. Hopefully I will!
 </p>
</main>

<main>
  <h2>
April 25, 2024  </h2>
    <img class="pics" src = "assets/bears.png" 
      width = "auto"
      height = "600px"
      />
  <p> I’m not going to lie, my life has been pretty uneventful so I haven’t really bothered blogging. However, I will give you all just a quick life update about some stuff. First of all, I did really good on my English essay and chemistry quiz so that was exciting. Second of all, I am so scared for my math test in three days. I need to lock-in!! Also here is a picture of the bears I have been working on in ceramics. They are finally done! And they are soooo cute. I can’t wait to take them home and decorate my room with them! That’s all for now.
 </p>
</main>

<main>
  <h2>
May 11, 2024  </h2>
    <img class="pics" src = "assets/flowers.png" 
      width = "auto"
      height = "600px"
      />
  <p> Today was Mother’s Day! I woke up and made breakfast for my mom. She loves crepes, so I made her some. I also watched She’s All That with her. We went out for a walk to the park and had a picnic. I also went with my dad to the florist and bought a bouquet for her. It was super pretty, and I added some glitter on it. I love my mom, and I am incredibly grateful for everything she does for me.
 </p>
</main>

<main>
  <h2>
May 20, 2024  </h2>
    <img class="pics" src = "assets/potluck.png" 
      width = "auto"
      height = "600px"
      />
  <p> Today was the potluck for my Hispanic Culture Club, and it was also out last meeting for the year. We partnered up with the Asian American Club and brought in a bunch of food, desserts, and candy. We also listened to some good music and broke up the piñata we had been working on. It was a lot of fun and the food everyone brought in was great. I brought a flan that, in my opinion, was really good. I’m excited to do this potluck again next year!
 </p>
</main>

<main>
  <h2>
May 22, 2024  </h2>
    <img class="pics" src = "assets/canes.png" 
      width = "auto"
      height = "600px"
      />
  <p> Today I was my school’s field day. The field day part was not my favorite because it was so hot there and we did really uninteresting activities. However, I loved what I did after which was going to Canes with a few friends. Canes is sooo good. It is one of my favorite food spots at the moment. After, we all went over to my friend Violet’s house and played some games. We played Mario party and Jackbox games. I had a lot of fun. I also had this really good cupcake at her house.  
 </p>
</main>

<main>
  <h2>
May 25, 2024  </h2>
    <img class="pics" src = "assets/apollo.png" 
      width = "auto"
      height = "600px"
      />
  <p>  It is Apollo’s birthday today! For some context, Apollo is my dog, and he is turning 4 years old today. For his birthday, we took him on a walk to his favorite park, bought him a cute birthday hat, and made him a steak, carrots, and peas dinner. He loved it so much, but he almost started choking because he swallowed a piece of the steak whole without chewing. I was a bit worried for him, but the birthday boy was okay!
 </p>
</main>




</Layout>