---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Alexandra's Blog">
    <header>
    <h1>Hey, this is my home page!</h1>
     </header>

<h2> Most recent blog post: May 25, 2024 <h2>

<main>
    <img class="pics" src = "assets/apollo.png" 
      width = "auto"
      height = "600px"
      />
  <p>  It is Apollo’s birthday today! For some context, Apollo is my dog, and he is turning 4 years old today. For his birthday, we took him on a walk to his favorite park, bought him a cute birthday hat, and made him a steak, carrots, and peas dinner. He loved it so much, but he almost started choking because he swallowed a piece of the steak whole without chewing. I was a bit worried for him, but the birthday boy was okay!
 </p>

 <div style="text-align: center; margin-top: 10px;">
            <a href="blog.html" style="text-decoration: underline; color: black;">See More</a>
        </div>

</main>


</Layout>

